i{
  padding: 5px;
}
nav.home .home,
nav.contact .contact,
nav.about .about,
nav.login .login,
nav.signin .signin,
nav.cart .cart{
  background-color:#6e6b6c;

}

a{
  display: block;
    padding: .5rem 1rem;
    color: rgba(255,255,255,.5);
}
